<!--------------------
          START - Top Bar
          -------------------->
<div class="top-bar color-scheme-light">

    <!--------------------
    START - Top Menu Controls
    -------------------->
    <div class="top-menu-controls">



        <!--------------------
        START - User avatar and menu in secondary top menu
        -------------------->
        <div class="logged-user-w">
            <div class="logged-user-i">

                <div class="avatar-w">
                    <img alt="" src="~/assets/img/user.png">
                </div>
                <div class="logged-user-menu color-style-bright">
                    <div class="logged-user-avatar-info">

                        <div class="avatar-w">
                            <img alt="" src="~/assets/img/user.png">

                        </div>
                        <div class="logged-user-info-w">

                            <div class="logged-user-name">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    var staffName = User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.GivenName);
                                    <span>
                                        @staffName.Value
                                    </span>

                                }
                            </div>
                            <div class="logged-user-role">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    var staffMail = User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Email);
                                    <span>
                                        @staffMail.Value
                                    </span>

                                }
                                
                            </div>

                        </div>
                    </div>
                    <div class="bg-icon">
                        <i class="os-icon os-icon-wallet-loaded"></i>
                    </div>
                    <ul>


                        <li>
                            <a  href="@Url.Action("Logout","auth")"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--------------------
        END - User avatar and menu in secondary top menu
        -------------------->
    </div>
    <!--------------------
    END - Top Menu Controls
    -------------------->
</div>
<!--------------------
END - Top Bar
-------------------->
