
@{
    ViewData["Title"] = "Consolidated Account Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="element-wrapper">
    <h6 class="element-header">
        Consolidated Account Details Report
    </h6>

    <div class="element-box">
    </div>
</div>

