
@{
    ViewData["Title"] = "Project Income Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="element-wrapper">
    <h6 class="element-header">
        Project Income Report
    </h6>

    <div class="element-box">
    </div>
</div>

