
@{
    ViewData["Title"] = "Subscriber AccountDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="element-wrapper">
    <h6 class="element-header">
        Subscriber Account Details Report
    </h6>

    <div class="element-box">
    </div>
</div>

